# Logs
logs/
*.log
gitleaks-report.json

# Temporary files
*.tmp
*.temp

# SSL certificates
ssl/
*.pem
*.key
*.crt
*.csr

# Environment files
.env
.vscode

# Cache directories
.cache/
**/__pycache__/

# Development
*.dev
*.bck
TODO.*